body{
background:#001f3f;
font-family:Arial;
text-align:center;
color:white;
}

.login-box{
background:white;
color:black;
width:400px;
margin:auto;
margin-top:80px;
padding:20px;
border-radius:15px;
box-shadow:0px 0px 20px black;
}

.logo{
width:120px;
}

input{
width:80%;
padding:10px;
margin:10px;
border-radius:8px;
border:1px solid gray;
}

.password-box{
width:80%;
margin:auto;
position:relative;
}


.password-box span{
position: absolute;
right: 45px;         /* adjust if needed */
top: 50%;
transform: translateY(-50%);
cursor: pointer;
font-size: 20px;
}


.btn{
    background:green;
    color:white;
    padding:10px 30px;
    border-radius:10px;
    text-decoration:none;
    display:block;        /* <<< puts button in next line */
    width:80%;            /* same width as inputs */
    margin:15px auto;     /* centers it + gives gap */
    text-align:center;
}


.att-block{
background:white;
color:black;
width:80%;
margin:auto;
padding:15px;
border-radius:10px;
margin-top:20px;
}
